<div class="max-w-4xl mx-auto mt-8">
  <h1 class="text-3xl font-bold mb-6">Welcome to QuizzerApp</h1>
  
  <div class="bg-gradient-to-r from-blue-100 to-indigo-100 min-h-screen py-12">
    <h2 class="text-2xl font-semibold mb-4">What would you like to do?</h2>
    
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <% if current_user %>
        <%= link_to "Create a Quiz", new_quiz_path, class: "bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 text-center" %>
      <% else %>
        <%= link_to "Create a Quiz", login_path(redirect_to: new_quiz_path, alert: "To create quiz please log in"), class: "bg-indigo-600 text-white py-2 px-4 rounded hover:bg-indigo-700 text-center" %>
      <% end %>
      <%= link_to "Take a Quiz", available_quizzes_path, class: "bg-green-600 text-white py-2 px-4 rounded hover:bg-green-700 text-center" %>
      <%= link_to "View Your Quizzes", quizzes_path, class: "bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700 text-center" %>
      <% if current_user %>
        <%= link_to "View Your Results", user_profile_path, class: "bg-yellow-600 text-white py-2 px-4 rounded hover:bg-yellow-700 text-center" %>
      <% else %>
        <%= link_to "View Your Results", login_path(redirect_to: user_profile_path), class: "bg-yellow-600 text-white py-2 px-4 rounded hover:bg-yellow-700 text-center" %>
      <% end %>
    </div>
  </div>
</div>
